<div class="page-signin">
  <div class="col-xs-12 col-md-5 col-md-offset-3" ng-controller="LoginCtrl">
  	
    <form class="form-horizontal" name="forgotPasswordForm" novalidate>
		<div class="header-content text-center">
			<h1>Forgot Password</h1>
		</div>
		<div class="body-content">
			<div role="alert" ng-class="{success_login: resetPasswordEmailResult, error_login: !resetPasswordEmailResult}" ng-show="resetPasswordEmailResult!==null">{{errMessage}}</div>
			<div class="form-group">
				<div class="input-group" show-errors>
					<label class="label" for="youremail_inp">Email</label>
					<input id="youremail_inp" class="form-control" type="email" ng-model="user.username" name="fp_username" placeholder="Enter your email" required >
					<div class="error_txt" ng-if="forgotPasswordForm.fp_username.$error.required">This field is required</div>
					<div class="error_txt" ng-if="forgotPasswordForm.fp_username.$dirty && forgotPasswordForm.fp_username.$error.email">This field should contain a valid email.</div>
				</div>
			</div>
			<button type="submit" class="btn btn-yelb col-xs-12 col-md-8" ng-click="forgotPassword(user.username)">Send Reset Password Email</button>
			<div class="pull-right"><a ng-href="{{baseUrl}}" class="link lh32">Maxletics</a></div>
			<div class="clearfix"></div>
		</div>
    </form>
    
  </div>  
</div>
